apiVersion: v1
kind: Service
metadata:
  name: api-gateway-nodeport
  namespace: petclinic
spec:
  selector:
    app: api-gateway
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
  type: NodePort